@model Rh_SolutionWeb.Presentation.Models.FuncionarioEdicaoViewModel

<form method="post" asp-action="SalvarEdicaoFuncionario">
    <div class="row mb-3">
        <input type="hidden" name="Id" value="@Model.Id" />
        <div class="col-md-3">
            <label for="Nome" style="font-size: 12px;">Nome:</label>
            @Html.TextBoxFor(model => model.Nome, new { @class = "form-control", @placeholder = "Informe o Nome do Funcionário" })
            <span class="text-danger">
                @Html.ValidationMessageFor(model => model.Nome)
            </span>
        </div>

        <div class="col-md-3">
            <label for="Email" style="font-size: 12px;">Email:</label>
            @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @placeholder = "Informe o Email" })
            <span class="text-danger">
                @Html.ValidationMessageFor(model => model.Email)
            </span>
        </div>

        <div class="col-md-3">
            <label for="Telefone" style="font-size: 12px;">Telefone:</label>
            @Html.TextBoxFor(model => model.Telefone, new { @class = "form-control", @placeholder = "Informe o Telefone" })
            <span class="text-danger">
                @Html.ValidationMessageFor(model => model.Telefone)
            </span>
        </div>

        <div class="col-md-3">
            <label for="Cargo" style="font-size: 12px;">Cargo:</label>
            @Html.TextBoxFor(model => model.Cargo, new { @class = "form-control", @placeholder = "Informe o Cargo" })
            <span class="text-danger">
                @Html.ValidationMessageFor(model => model.Cargo)
            </span>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-3">
            <label for="ValorHora" style="font-size: 12px;">Valor Hora:</label>
            @Html.TextBoxFor(model => model.ValorHora, new { @class = "form-control", @placeholder = "Informe o Valor Hora" })
            <span class="text-danger">
                @Html.ValidationMessageFor(model => model.ValorHora)
            </span>
        </div>

        <div class="col-md-3">
            <label for="Classificacao" style="font-size: 12px;">Classificação:</label>
            @Html.DropDownListFor(model => model.Classificacao,
                     new List<SelectListItem>
            {
            new SelectListItem { Text = "MMO", Value = "1" },
            new SelectListItem { Text = "Parceiro", Value = "2" },
            new SelectListItem { Text = "Terceiro", Value = "3" }
            },
                     new { @class = "form-control" })
            <span class="text-danger">
                @Html.ValidationMessageFor(model => model.Classificacao)
            </span>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Salvar</button>
</form>
