@*definindo a classe de modelo de dados utilixada nesta página*@
@model Rh_SolutionWeb.Presentation.Models.RhFuncionarioCadastroViewModel

<h5>Cadastro de Funcionários</h5>
<p>
    Preencha os dados para cadastrar um novo funcionário
</p>
<hr />@* Declare o formulário *@
@using (Html.BeginForm())
{
    <div class="row mb-3">
        <div class="col-md-3">
            <label>Primeiro Nome:</label>
            @Html.TextBoxFor(model => model.Nome, new { @class = "form-control", @placeholder = "Informe o Nome do Funcionário" })
            <span class="text-danger">
                @Html.ValidationMessageFor(model => model.Nome)
            </span>
        </div>
        <div class="col-md-3">
            <label>Sobrenome:</label>
            @Html.TextBoxFor(model => model.Sobrenome, new { @class = "form-control", @placeholder = "Informe o Sobrenome do Funcionário" })
            <span class="text-danger">
                @Html.ValidationMessageFor(model => model.Sobrenome)
            </span>
        </div>
        <div class="col-md-3">
            <label>Data de Nascimento:</label>
            @Html.TextBoxFor(model => model.DataNascimento, new { @type = "date", @class = "form-control" })
            <span class="text-danger">
                @Html.ValidationMessageFor(model => model.DataNascimento)
            </span>
        </div>
        <div class="col-md-3">
            <label>CPF:</label>
            @Html.TextBoxFor(model => model.Cpf, new { @class = "form-control", @placeholder = "Informe o Cpf do Funcionário" })
            <span class="text-danger">
                @Html.ValidationMessageFor(model => model.Cpf)
            </span>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-3">
            @Html.Label("Departamento:")
            @Html.DropDownList("IdDepartamento", new SelectList(new List<SelectListItem>
        {
        new SelectListItem { Text = "Selecione um Departamento", Value = "" },
        new SelectListItem { Text = "DESENVOLVIMENTO", Value = "1" },
        new SelectListItem { Text = "INFRAESTRUTURA", Value = "2" },
        new SelectListItem { Text = "SUPORTE TECNICO", Value = "3" },
        new SelectListItem { Text = "GERENCIAMENTO DE REDES", Value = "4" },
        new SelectListItem { Text = "CONTROLE DE QUALIDADE", Value = "5" },
        new SelectListItem { Text = "SEGURANÇA CIBERNETICA", Value = "6" },
        new SelectListItem { Text = "AUDITORIA DE SISTEMAS", Value = "7" },
        new SelectListItem { Text = "GERENCIAMENTO DE PROJETOS DE TI", Value = "8" },
        new SelectListItem { Text = "AGILE", Value = "9" }
        }, "Value", "Text"), new { @class = "form-select" })
        </div>

        <div class="col-md-3">
            @Html.Label("Cargo:")
            @Html.DropDownList("IdCargo", new SelectList(new List<SelectListItem>
        {
        new SelectListItem { Text = "Selecione um Cargo", Value = "" },
        new SelectListItem { Text = "DESENVOLVEDOR DE BANCO DE DADOS", Value = "1" },
        new SelectListItem { Text = "DESENVOLVEDOR FRONTEND", Value = "2" },
        new SelectListItem { Text = "DESENVOLVEDOR BACKEND", Value = "3" },
        new SelectListItem { Text = "DESENVOLVEDOR MOBILE", Value = "4" },
        new SelectListItem { Text = "ADMINISTRADOR DE REDES", Value = "5" },
        new SelectListItem { Text = "ESPECIALISTA EM SEGURANÇA DE REDE", Value = "6" },
        new SelectListItem { Text = "ENGENHEIRO DE SISTEMAS LINUX", Value = "7" },
        new SelectListItem { Text = "ENGENHEIRO DE SISTEMAS WINDOWS", Value = "8" },
        new SelectListItem { Text = "GERENTE DE PROJETOS", Value = "9" },
        new SelectListItem { Text = "ANALISTA DE TESTES", Value = "10" },
        new SelectListItem { Text = "ENGENHEIRO DE QUALIDADE DE SOFTWARE", Value = "11" },
        new SelectListItem { Text = "CONSULTOR DE SEGURANÇA CIBERNÉTICA", Value = "12" },
        new SelectListItem { Text = "ANALISTA DE SEGURANÇA DA INFORMAÇÃO", Value = "13" },
        new SelectListItem { Text = "ADMINISTRADOR DE BANCO DE DADOS", Value = "14" }
        }, "Value", "Text"), new { @class = "form-select" })
        </div>
        <div class="col-md-3">
            @Html.Label("Gênero:")
            @Html.DropDownList("genero", new SelectList(new List<SelectListItem>
        {
        new SelectListItem { Text = "Selecione um Gênero", Value = "" },
        new SelectListItem { Text = "Masculino", Value = "M" },
        new SelectListItem { Text = "Feminino", Value = "F" }
        }, "Value", "Text"), new { @class = "form-select" })
        </div>
        <div class="col-md-3">
            <label>Salário:</label>
            @Html.TextBoxFor(model => model.Salario, new { @class = "form-control", @placeholder = "Informe o Salário do Funcionário" })
            <span class="text-danger">
                @Html.ValidationMessageFor(model => model.Salario)
            </span>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-md-12">
            <input type="submit" value="Realizar Cadastro" class="btn btn-success" />
        </div>
    </div>
    <h5>
        @TempData["Mensagem"]
    </h5>
}
