@*clase de modelo utilizado nesta página*@
@model Rh_SolutionWeb.Presentation.Models.RhFuncionarioConsultaViewModel

<h5>Consulta de Funcionários</h5>
<p>
    Preencha os campos para consultar os Funcionários.
</p>
<hr />

@using (Html.BeginForm())
{
    <div class="row mb-3">
       
    <div class="col-md-3">
    <label>Chave:</label>
    @Html.TextBoxFor(model => model.Chave,new {@class = "form-control" })
    <span class="text-danger">
    @Html.ValidationMessageFor(model => model.Chave)
    </span>
    </div>
 
    </div>
    <div class="row mb-3">
        <div class="col-md-12">
            <input type="submit" value="Pesquisar Funcionários"
                   class="btn btn-success" />
        </div>
    </div>
}

@if (Model != null && Model.Funcionarios != null && Model.Funcionarios.Count > 0)
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Nome do Funcionário</th>
                <th>Cpf</th>
                <th>Chave</th>
                <th>Email</th>
                <th>Cargo</th>
                <th>Departamento</th>
                <th>Salário Atual</th>
                <th>Data de Contratação</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model.Funcionarios)
            {
                <tr>
                    <td>@item.Nome</td>
                    <td>@item.Cpf</td>
                    <td>@item.Chave</td>
                    <td>@item.Email</td>
                    <td>@item.IdCargo</td>
                    <td>@item.IdDepartamento</td>
                    <td>@item.Salario</td>
                    <td>@item.DataContratacao</td>
                    <td>
                        <a href="/RhFuncionario/EdicaoFuncionario"
                           class="btn btn-primary btn-sm">Alterar</a>
                        <a href="#" class="btn btn-danger btn-sm">Excluir</a>
                    </td>
                </tr>
            }
            
        </tbody>

        
        <tfoot>
            <tr>
                <td colspan="8">
                    Quantidade de Funcionários: @Model.Funcionarios.Count
                </td>
            </tr>
        </tfoot>
    </table>
}